/* CUSTOM-PROPS */
:root {
  --accent-color-blue: #5267df;
  --accent-color-red: #fa5959;
  --font: 'Rubik', 'Roboto', 'Arial', sans-serif;
}

/* FONTS */
@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Medium.woff2') format('woff2'),
    url('../fonts/Rubik-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../fonts/Rubik-Regular.woff2') format('woff2'),
    url('../fonts/Rubik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: var(--font);
  font-size: 18px;
  background-color: #fff;
  color: #222;
}

.container {
  max-width: 100%;
  width: 1248px;
  padding-left: 72px;
  padding-right: 72px;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.main-content {
  flex-grow: 1;
}

/* BUTTONS */
.button {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  padding: 10px 24px;
  border-radius: 5px;
  color: #fff;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20);
  background-color: var(--accent-color-blue);
  font-family: var(--font);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.25px;
  transition: opacity 0.4s ease;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.6;
}

.button-white {
  opacity: 0.75;
  background-color: #f7f7f7;
  color: #242a45;
}

.button-red {
  background-color: var(--accent-color-red);
}

.button-small-header {
  padding-top: 12px;
  padding-bottom: 11px;
  padding-left: 34px;
  padding-right: 32px;
  background-color: var(--accent-color-red);
  color: #fff;
  text-align: right;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 1.5px;
}

.button-big {
  padding: 10px 35px;
}


/* SITE-HEADER */
.header {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #fff;
}

.hewader__container {
  display: flex;
  align-items: center;
}

.header__logo-link {
  display: flex;
  margin-right: auto;
}

.header__logo {
  width: 150px;
  height: 25px;
  object-fit: contain;
}

.sitenav {
  margin-right: 48px;
}

.sitenav__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 44px;
}

.sitenav__link {
  color: #242A45;
  text-align: right;
  font-family: var(--font);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  /* 130.769% */
  letter-spacing: 1.5px;
  text-decoration: none;
  transition: color 0.4s ease,
    opacity 0.4s ease;
}

.sitenav__link:hover {
  color: var(--accent-color-blue);
}

.sitenav__link:active {
  opacity: 0.6;
}


/* SITE-HERO */
.hero {
  padding-top: 61px;
  padding-bottom: 180px;
  background-image: url(../img/hero-Rectangle.svg);
  background-repeat: no-repeat;
  background-position: left calc(50% + 695px) top 190px;
}

.hero__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 0;
}

.hero__content {
  width: 100%;
  max-width: 540px;
}

.hero__heading {
  margin-top: 0;
  margin-bottom: 24px;
  color: #242A45;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: -0.15px;
}

.hero__text {
  margin-top: 0;
  margin-bottom: 32px;
  color: #242A45;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.5;
}

.hero__buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.button {}

.button-white {}

.hero__img {}